.footer-main{
    background-color: #000;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}
.footer-middle p{
    color: #fff;
    font-size: 12px;
}
.footer-top{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-middle{
    display: flex;
    flex-direction: column;
    margin-left: 4.5rem;
}